# Database
DATABASE_URL=postgresql://username:password@localhost:5432/kuberlist

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here

# Server
PORT=3001
NODE_ENV=development

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Storage
STORAGE_PROVIDER=CLOUDINARY

# Frontend
FRONTEND_URL=http://localhost:3000